body{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background-color:#00897b ;
}

h1 {
	text-align:center;
	font-size:3em;
	color:#ffc300;
}
.nav{
	position:fixed;
	top:0px;
	background-color:#616161;
	padding-top: 5px;
	width: 100%;
	height: 50px;
	text-align: right;
	text-decoration:none;
	font-size: 1.2em;
}

.nav h2{
	float: left;
	color:#ffffff;
	margin-top: 8px;
	font-size:1.5em;
}


.nav li{
	text-align: right;
	display: inline;
	color: #ffffff;
	padding: 5px;
	padding-left: 7px;
}

.nav a{
	color: #ffffff;
	transition:1s;
	text-decoration:none;
}

.intro {
	margin:160px;
}

.intro img {
	border-radius:50%;
	width:200px;
	box-shadow: 2px 2px 10px 2px rgba(65, 235, 244, 0.6) ,3px 6px 20px 10px rgba(22, 81, 84, 0.5);
	margin-left:20%;
	transition: 2s;
	margin-top:15px;
}

.intro img:hover{
	margin-top: 50px;
	transform: rotate(360deg) translate3d(-215.5px,-100px,333px) rotateX(360deg);
	width:310px;	
}

.intro h1{
	font-size: 3em;
	color: #ffb600;
	text-align: center;
}

.intro h3{
	font-size:1.55em;
	color:#353535;
	text-shadow: 2px 2.5px 10px #ffffff;
	text-align:center;
}

.about {
	background-color:#adadad;
	padding:10px 0px 50px 0px;
}

.about h3{
	text-align:center;
	font-size:3em;
	text-shadow:2px 4px 4px #ffffff;
}

.about p{
	text-align:center;
	font-size:1.5em;
	color:#25484f;
}

.myskills {
	background-color:#dbfffc;
	padding:10px 0px 50px 0px;
}

.myskills h1{
	margin:auto;
	margin-top: 20px;
	padding:10px 0px 50px 0px;
	padding-bottom:15px;
}

.myskills li{
	font-size:1.3em;
	margin-left:20%;
}

.soc {
	background-color:#fcd8ff;
	padding:10px 0px 50px 0px;
	margin:auto;
}

.soc h3{
	margin:auto;
	font-size:2em;
	margin-top:15px;
	padding:10px 0px 50px 0px;
}

.soc a{
	padding:25px;
	color:#777571;
	text-decoration:none;
	font-size:1.5em;
	transition:1s;
}


.myq {
	margin:auto;
	padding-bottom:50px;
	width:100%;
	padding:10px 0px 50px 0px;
}
.myq h3{
	font-size:1.5em;}
#tab {
	margin:auto;
	background-color:#eeff41 ;
	color:#686868;
	text-align:center;
}

#tab th{
	text-align:center;
}

#tab td{
	padding: 10px 10px;
}

.foot {
	background-color:#d8fca9;
	padding:10px 0px 50px 0px;
	margin:auto;
}

.foot h4{
	font-size:2.5em;
	padding-bottom:10px;
	text-decoration:none;
}
.foot h4 a{
	text-decoration: none;
	color: #000;
	transition: 1s;

	}

a:hover{
	color:#64DD17;
}
.foot {
	margin:auto;
}
.foot h4 a:hover {
	color:#0cce6a;

}
.foot h1{
	font-size:3.5em;
	font-family:Lucida Calligraphy;
	padding-bottom:10px;
}

.foot p{
	font-size:2.3em;
	font-family:Monotype Corsiva;
}

.projects {
	background-color:#cfd8dc  ;
	margin:auto;
	padding:180px;
	
}
.projects button {
	transition:1s;
}
.projects button:hover {
	background-color: white;
    color: black;
    border: 2px solid #000000;
}
.projects h1{
	margin-top:-230px;
	margin-bottom:80px;
	padding-top:60px;
}
.map {
	width:100%;
	height:500px;
	background-color:#ffffff;
}